<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Session Test Automation Suite">
    <test name="Different testng Feature Test ">
         <classes>
             <class name="com.test.AssertionConcept"/>
             <class name="com.test.GoogleTest"/>
             <class name="com.test.InvocationCountConcept"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->